@model StudentsManager.Models.Student

@{
    ViewBag.Title = "Rank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>5 best students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
    </tr>

    @foreach (var item in ViewBag.Best)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.GroupId
            </td>
            <td>
                @item.Course
            </td>
            <td>
                @item.Grade
            </td>
        </tr>
    }
</table>

<h2>5 worst students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
    </tr>

    @foreach (var item in ViewBag.Worst)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.GroupId
            </td>
            <td>
                @item.Course
            </td>
            <td>
                @item.Grade
            </td>
        </tr>
    }
</table>